= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %legend Sign up
    .clearfix
      = f.label :email
      .input
        = f.email_field :email
    .clearfix
      = f.label :password
      .input
        = f.password_field :password
    .clearfix
      = f.label :password_confirmation
      .input
        = f.password_field :password_confirmation
    .input.buttons
      = f.submit "Register", :class => 'primary btn'
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to image_tag("authbuttons/#{provider.to_s}_32.png", :title => "Sign up with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider)
= render :partial => "devise/shared/links"
