%h2 Stories

.row
  .span8
    - @stories.each do |story|
      %article.story.round-box
        %h3= link_to story.title, story
        .author= story.user
        .created= story.created_at

    - unless @stories.any?
      %h3 No Stories have been uploded

  - if @assignment
    .span4
      #lastest-assignment
        %h1 Latest Assignment

        %h3= link_to @assignment.title, @assignment.title
        %p
          %b By:
          = @assignment.user
        %p
          %b Due:
          = @assignment.due_at

        .body
          = @assignment.body.html_safe

        %div= link_to 'Post Story for this Assignment', new_story_path(story: { assignment_id: @assignment })
