%h1= @story.title

.row
  .span8
    .posted
      %b Posted By:
      %span.author= @story.user
      (
      %span.created= @story.created_at
      )

    .body= @story.body.html_safe

  .span4
    %fieldset.comments
      %legend Comments

      = form_for([ @story, @comment ||= Comment.new(params[:comment]) ]) do |f|
        .field
          = f.text_area :body, placeholder: 'Body Text'
        %div
          = f.submit class: 'btn'

      - @story.comments.each do |comment|
        .comment
          .posted
            %b Posted By:
            %span.author= comment.user
            (
            %span.created= comment.created_at
            )
          .body= comment.body.html_safe

      - unless @story.comments.any?
        %b No Comments have been posted

