!!!
%html
  %head
    %title= Rails.configuration.application_name
    
    = stylesheet_link_tag    "application"
    = yield(:css_includes)

    = javascript_include_tag "application"
    = yield(:js_includes)
    
    = csrf_meta_tags
  %body
    = render :partial => 'shared/header'
    #content-container.container
      - [:success, :error, :message].each do |msg|
        - if flash[msg]
          %div{:class => "alert-message #{msg.to_s}"}= flash[msg]

      = yield
